.chatViewOuterContainer {
  display: flex;
  flex-direction: column;
  // flex: 1;
  width: 50%;
  height: 60%;
  background-color: #303030;
}

.messagesContainer {
  flex: 1;
}

.inputContainer {
  width: 100%;
}
