@import "../global.styles.scss";

.joinOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginFormContainer {
  max-width: 15em;
  position: relative; // Needed so the input-placeholder has a location to display off of
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameTakenWarning {
  color: darkred;
  transition-delay: 3s;
  transition: opacity 0.5s, visibility 0.3s;
}

.serverWarning {
  color: white;
  margin-top: 1em;
  transition-delay: 3s;
  transition: opacity 0.5s, visibility 0.3s;
}

.icon-spinner {
  transition: opacity 0.5s, visibility 0.3s;
  pointer-events: none; // So it doesn't hide the Submit button
}

.input-textfield {
  outline: none;
  border-radius: $radius-large;
  border: 0;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
  width: 90%;
}

.input-placeholder {
  position: absolute;
  color: #777;
  top: 4px;
  left: 10px;
  transition: all 150ms;
  margin: 5px;
}

.input-textfield:focus + .input-placeholder,
.input-textfield:valid + .input-placeholder {
  color: #fff;
  transform: translate3d(-10px, -170%, 0) scale(0.85);
}

.submit-button {
  border-radius: $radius-large;
  border: 0;
  width: fit-content;
  padding: 10px 15px;
  color: white;
  background-color: $highlight-color;
  margin: 5px;
  outline: 0;
  font-size: 1em;
  transition: background-color 1.3s;

  &:hover {
    background-color: $highlight-bright;
    transition: background-color 0.3s;
  }
}
