@import "../global.styles.scss";

.joinOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginFormContainer {
  max-width: 15em;
  position: relative; // Needed so the input-placeholder has a location to display off of
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameTakenWarning {
  color: darkred;
  transition-delay: 3s;
  transition: opacity 0.5s, visibility 0.3s;
}

.serverWarning {
  color: white;
  margin-top: 1em;
  transition-delay: 3s;
  transition: opacity 0.5s, visibility 0.3s;
}

.icon-spinner {
  transition: opacity 0.5s, visibility 0.3s;
  pointer-events: none; // So it doesn't hide the Submit button
}

.input-textfield {
  outline: none;
  border-radius: 20px;
  min-height: 35px;
  border: 0;
  padding-left: 15px;
}

.input-placeholder {
  position: absolute;
  color: #777;
  top: 0px;
  left: 10px;
  transition: all 150ms;
  margin: 5px;
}

.input-textfield:focus + .input-placeholder,
.input-textfield:valid + .input-placeholder {
  color: #fff;
  transform: translate3d(-10px, -120%, 0) scale(0.8);
}

.submit-button {
  border-radius: 25px;
  border: 0;
  width: fit-content;
  padding: 10px 15px;
  color: white;
  background-color: $highlight-color;
  margin: 5px;
  outline: 0;
}
