.messageContainer {
  display: flex;
  margin-top: 5px;
  width: 100%;
}

.textContainer {
  flex: 1;
  max-width: 30%;
  color: white;
  background-color: gray;
  padding: 5px;
}

.topInfoContainer {
  display: flex;
  flex: 1;
}
