@import "../global.styles.scss";

.messageLog {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  // padding: $radius-large;
  //   background-color: red;
  button {
    right: 50%; // This is for the scroll-to-bottom button that appears when user scrolls up
  }
}

.messagesOverflow {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}
