.messageContainer {
  display: flex;
  margin-top: 5px;
  width: 100%;
}

.messageFromSelf {
  flex-direction: row-reverse;
}

.textContainer {
  max-width: 30%;
  color: white;
  background-color: gray;
  padding: 5px;
}

.topInfoContainer {
  display: flex;
  flex: 1;
}

.messageBody {
  flex: 1;
  text-align: initial;
}
